* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1 {
  color: #fe3e21;
  background-color: #f4f4f4;
  text-align: center;
}

p {
  color: black;
  background-color: #f4f4f4;
}

img {
  margin: 10px;
  height: 200px;
}

cite {
  color: #fe3e21;
  font-style: italic;
  text-align: center;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}
