body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: #fe3e00;
  font-size: 30px;
  margin-top: 20px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b32d00;
  color: #0a0f24;
  text-align: center;
  margin: 20px;
  font-size: 2em;
  margin-top: 30px;
  border-bottom: 2px solid #0a0f24;
  padding-bottom: 5px;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d30000;
  color: #0a0f24;
  text-align: center;
  margin: 20px;
  font-size: 2em;
  margin-top: 30px;
  border-bottom: 2px solid #0a0f24;
  padding-bottom: 5px;
}

p {
  font-size: 1.1em;
  margin: 10px auto;
  width: 90%;
  max-width: 1500px;
}

img {
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin: 20px auto;
}

cite {
  display: block;
  text-align: center;
  font-style: italic;
  color: #555;
}

a {
  color: #db2d01;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  background-color: #ede4cf;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 80%;
  margin: 20px auto;
  overflow-x: auto;
}

table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #f3e9e9;
  border-radius: 10px;
}
